*{  
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body{ 
    font-family:'Times New Roman', Times, serif;
    color: rgb(139, 135, 222); 
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
}

#euzinha {
    border-radius: 50%;
    width: 10rem;
}

header{ 
    display: flex;
    justify-content: center;
    background-image: url(https://img.pikbest.com/backgrounds/20190730/stylish-modern-blue-background-v_1517178jpg!bwr800);
    border-top: solid 0.09rem;
    border-bottom: solid 0.09rem;
    border-radius: 10%;
}

main{
    justify-content: center;
    margin-top: 15rem;
    margin-bottom: 2rem;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 5rem;
    border-left: solid 0.09rem;
    border-right: solid 0.09rem;
    border-bottom: solid 0.09rem;
    border-radius: 5%;
}

section{
    font-size: 1rem;
    border-radius: 2rem;
    border: solid 0.05rem;
    padding-bottom: 3rem;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3rem;
}